<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <section>
      <h2>Upload your photo</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="photo">
        <input type="submit" value="Save">
      </form>
    </section>
    <% pictures.forEach(p => {%>
      <div class="picture">
        <img src="/uploads/<%= p.imgURL %>" width=100/>
        <h3><%= p.name %></h3>
      </div>
    <% }) %>

  </body>
</html>
